.navbar {
    z-index: 777;
    display: block;
    height: 10vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.navList {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

.navItem {
    flex: 1;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.3s ease;
}


a:hover {
    background-color: #00bcd4;
    transform: scale(1.05);
}

.svg-icon {
    height: 20px;
    width: 20px;
}

.footerHide {
    display: none;
}

@media (min-width: 790px) {
    .navbar {
        top: 0;
        left: unset;
        right: 0;
        width: 60%;
    }

    a {
        display: flex;
        flex-direction: column;
    }

    .footerHide {
        text-decoration: none;
        color: #ffff00;
        padding-left: 5px;
        display: block;
    }

}