.home-container {
  padding: 20px;
  width: 100%;
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 2rem;
  margin: 0;
}

.search-bar {
  flex: 1;
  max-width: 500px;
  margin: 40px 0 40px 0;
}

.search-input {
  width: 100%;
  padding: 12px 20px 12px 45px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  outline: none;
}

.search-input:focus {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}

.search-results-container {
  padding-bottom: 15px;
  background: white;
  border-radius: 25px;
}

.search-results-container h2 {
  font-size: 1.2rem;
}

.users-list {
  display: grid;
  gap: 15px;
  margin-top: 15px;
}

.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.user-card:hover {
  background-color: #8b0000;
  transform: translateY(-2px);
  color: white;
}

.user-card .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.user-info h3 {
  margin: 10px;
}
