.profil-main {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin: 10px;
}

.info-profil {
	padding: 20px;
	background-color: #9e0e40;
	color: white;
	border-radius: 10px;
	width: 270px;
	border: 2px solid black;
}

.h2-titre {
	padding-bottom: 10px;
}

.p-info {
	font-size: 0.8rem;
}
